<div class="row">
  <div id="home" class="large-12 large-centered">
    <div class="row">
      <h1 class="huge">Lunch shouldn't give you headache</h1>
      <h4>
        Binto is an app that helps you decide what you want to eat.
        So yes, it does read your mind!
      </h4>
    </div>
  </div>
</div>